.noaboutme {
	height: 90px;
}
.siq-chat-attender-name {
	font-size: 18px;
	font-weight: 400;
}
.msgarea {
	height: 95px;
}
.siqembed.emwin {
	height: 340px;
}
.loadframe {
	margin-top: 180px;
	height: 400px;
}